
<style>
    .click_img{
        cursor:pointer;
    }
</style>
<div class="container-fluid">


    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 mx-auto rounded rounded-2 border-2 border">
            <h1 class="text-center"> User Registration</h1>
            <form method="post" class="p-5" enctype="multipart/form-data">
                <input type="text" class="my-1 form-control" name="sname" placeholder="Enter Your Name" /> <br />
                <input type="text" class="my-1 form-control" name="address" placeholder="Enter Your Address" /><br />
                <input type="number" class="my-1 form-control" name="mob" placeholder="Enter Your Mobile Number" /> <br />
                <input type="date" class="my-1 form-control" name="dob" placeholder="Enter Your DOB" /><br />
                <input type="file" class="my-1form-control form-control" name="spic" /><br />
                <input type="submit" class="btn text-bg-danger form-control" value="Save" />
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>

    <table class="table table-hover text-center mt-3" id="tab">
        <thead class="bg-dark text-light fw-bold">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Mobile</th>
                <th>DOB</th>
                <th>Pic</th>
                <th>Action</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var i in ViewBag.data.Rows)
                {
                    <tr>
                        <td>@i[0]</td>
                        <td>@i[1]</td>
                        <td>@i[2]</td>
                        <td>@i[3]</td>
                        <td>@i[4]</td>
                        <td><img src="~/Content/images/@i[5]" height="40" class="click_img" onclick="demo(event)" /></td>
                        <td class="fa fa-edit"><a href="/home/update?id=@i[0]" class="btn btn-success">Edit</a></td>
                        <td class="fa fa-trash"><a href="/home/delete?id=@i[0]" class="btn btn-danger">Delete</a></td>
                    </tr>
                }

            }
        </tbody>

    </table>
</div>
<div id="set_img">
    <img src=""/>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    //  $("#tab").new DataTable();

    function demo(event) {
        var data =  event.target.getAttribute('src');
        alert(data)
    }
   
</script>

